<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </div>
</div>
<my-hero-search></my-hero-search>



<!-- Insert React Component. -->
<div class="react">
  <iframe class="reactcomponent" 
      frameborder="0" 
      allowfullscreen="true" 
      [src]="ComponentUrl"
      width="800"
      height="600"
      scrolling="no"
      >
  </iframe>
</div>

